@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

.gray {
  filter: grayscale(1) !important;
  background-color: #ccc !important;
  color: #333 !important;
}
