@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));

.gray {
  filter: grayscale(1) !important;
  background-color: #ccc !important;
  color: #333 !important;
}
