---
import { TITLE } from "astro:env/client";
import "@/styles/global.css";
import { Header } from "@/components/header";
import { ClientRouter } from "astro:transitions";
import { Provider } from "@/components/provider";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{TITLE}</title>
    <ClientRouter />
  </head>
  <body>
    <Provider client:load transition:persist />
    <Header client:load />
    <slot />
  </body>
</html>
