---
import { Header } from "@/components/header";
import Layout from "./Layout.astro";
---

<Layout>
  <Header client:load transition:persist transition:animate="none" />
  <div class="py-[64px] h-full w-full">
    <slot />
  </div>
</Layout>
