---
import { Header } from "@/components/header";
import Layout from "./Layout.astro";
---

<Layout>
  <div class="w-full h-screen overflow-auto relative">
    <Header client:only="react" transition:persist transition:animate="none" />
    <div class="py-[64px] h-full w-full">
      <slot />
    </div>
  </div>
</Layout>
